* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}

.header {
  box-sizing: border-box;
  background: url(../images/header-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  padding-top: 196px;
}
.header__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
  width: 768px;
}
.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 48px;
  width: 720px;
}
.header__text_bold {
  font-weight: 600;
}
.header__button {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  width: 247px;
  height: 66px;
  padding: 16px 48px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.4s;
}
@media (hover: hover) {
  .header__button:hover {
    cursor: pointer;
    box-sizing: border-box;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background: transparent;
  }
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
}
.footer__rights {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
}

.mini-games {
  position: relative;
  margin-top: 46px;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
}
.mini-games__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mini-games__the-game {
  height: 500px;
  display: flex;
  flex-direction: row;
  background: rgb(255, 255, 255);
  border-radius: 30px;
}
.mini-games__textbox {
  box-sizing: border-box;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 48px;
}
.mini-games__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__description {
  margin-top: 24px;
  margin-bottom: 36px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__button {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  width: 247px;
  height: 66px;
  padding: 16px 48px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.4s;
}
@media (hover: hover) {
  .mini-games__button:hover {
    cursor: pointer;
    box-sizing: border-box;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background: transparent;
  }
}
.mini-games__image {
  width: 600px;
  height: 500px;
  border-radius: 30px;
}
.mini-games__image_reverse {
  order: -1;
}
.mini-games__mid-star {
  position: absolute;
  top: 90px;
  right: -65px;
  transform: scale(1.2);
}
.mini-games__mid-star_bottom {
  top: 3309px;
  right: -55px;
  transform: scale(1.2) rotate(-5deg);
}
.mini-games__small-star {
  position: absolute;
  top: 50px;
  right: 5px;
  transform: scale(1.1);
}
.mini-games__small-star_bottom {
  top: 3350px;
  right: 32px;
  transform: scale(1.1) rotate(-5deg);
}

.forExtendedHW__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.forExtendedHW__demarcationLine {
  border: 0.5px, #BDED35, solid;
  margin-top: 30px;
}
.forExtendedHW__title {
  color: #FFFFFF;
  text-align: center;
  margin-top: 30px;
}
.forExtendedHW__button {
  color: #FFFFFF;
  margin-top: 25px;
  border: 1px, #FFFFFF, solid;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  background: transparent;
  cursor: pointer;
}

.forExtendedJS__exerciseOne {
  color: transparent;
}
.forExtendedJS__exerciseSix {
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #FFFFFF;
}

.main {
  background-color: rgb(32, 32, 39);
  padding-top: 94px;
  padding-bottom: 144px;
  overflow: hidden;
}
.main__separate-line {
  content: "";
  border-top: 0.5px solid transparent;
}

.games-info {
  position: relative;
  margin-bottom: 50px;
}
.games-info__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}
.games-info__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
  width: 788px;
}
.games-info__container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 32px;
  height: 1070px;
}
.games-info__big-star {
  position: absolute;
  top: 17px;
  right: -230px;
}
.games-info__mid-star {
  position: absolute;
  bottom: 550px;
  left: -80px;
}
.games-info__small-star {
  position: absolute;
  bottom: 625px;
  left: -95px;
}

.game-box {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  display: block;
  width: 378px;
  min-height: 473px;
  max-height: 551px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  border-radius: 30px;
  text-decoration: none;
  padding-bottom: 36px;
  transition: 0.3s;
}
@media (hover: hover) {
  .game-box:hover {
    transform: scale(1.02);
    cursor: auto;
  }
}
.game-box__image {
  width: 378px;
  height: 314px;
  border-radius: 30px;
}
.game-box__game-number {
  box-sizing: border-box;
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 16px;
  line-height: 36px;
  padding-left: 16px;
  margin-left: 32px;
}
.game-box__game-name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 32px;
  width: 314px;
}

@media (max-width: 1199px) {
  .center {
    padding-left: calc(50% - 395px);
    padding-right: calc(50% - 395px);
  }
  .header {
    background: url(../images/header-background-mobile.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 230px;
  }
  .header__title {
    width: 490px;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .header__text {
    width: 430px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 36px;
  }
  .header__button {
    width: 300px;
    height: 55px;
    font-size: 16px;
  }
  .main {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .games-info__title {
    text-align: center;
  }
  .games-info__text {
    text-align: center;
    margin-bottom: 56px;
  }
  .games-info__container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
    justify-content: center;
  }
  .games-info__big-star {
    display: none;
  }
  .games-info__mid-star {
    display: none;
  }
  .games-info__small-star {
    display: none;
  }
  .game-box {
    width: 344px;
  }
  .game-box__image {
    width: 100%;
    height: auto;
  }
  .game-box__game-name {
    width: 285px;
  }
  .mini-games {
    margin-top: 0;
  }
  .mini-games__title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 40px;
    text-align: center;
  }
  .mini-games__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  .mini-games__the-game {
    position: relative;
    flex-direction: column;
    height: auto;
    width: 344px;
    height: 465px;
  }
  .mini-games__image {
    width: 100%;
    height: auto;
    order: -1;
  }
  .mini-games__textbox {
    width: 344px;
    padding: 30px;
    height: 100%;
  }
  .mini-games__name {
    font-size: 32px;
    line-height: 39px;
    position: absolute;
    top: 32px;
    color: rgb(32, 32, 39);
    width: 285px;
  }
  .mini-games__description {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
  }
  .mini-games__button {
    position: absolute;
    width: 285px;
    height: 55px;
    font-size: 16px;
    bottom: 16px;
    left: 29px;
  }
  .mini-games__mid-star {
    display: none;
  }
  .mini-games__small-star {
    display: none;
  }
  .footer {
    height: 100px;
  }
  .footer__rights {
    padding-top: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  .header {
    background: url(../images/header-background-mobile.jpeg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__title {
    width: 296px;
  }
  .header__text {
    width: 296px;
  }
  .header__button {
    width: 285px;
  }
  .games-info {
    display: none;
  }
  .main {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .main__separate-line {
    display: none;
  }
  .mini-games {
    margin-top: 0;
  }
  .mini-games__title {
    text-align: left;
  }
  .mini-games__the-game {
    height: 100%;
  }
  .mini-games__image {
    width: 343px;
    height: 284px;
  }
  .mini-games__textbox {
    width: 343px;
    padding: 29px 29px 32px 29px;
    height: 100%;
  }
  .mini-games__name {
    position: static;
    color: rgb(32, 32, 39);
  }
  .mini-games__description {
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .mini-games__button {
    position: static;
  }
  .footer {
    height: 100px;
  }
  .footer__rights {
    padding-top: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 374px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}/*# sourceMappingURL=styles.css.map */